@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --white: #ffffff;
    --gray: #2C2C2C;
    --accent: #3d0086;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    color: var(--gray);
}

p,a,button {
    font-family: 'Roboto Slab', serif;
}

p { color: var(--gray); }

a { color: var(--accent); font-weight: bold;}

button {
    background-color: var(--accent);
    color:var(--white);
    border: none;
    padding: 10px;
}

body {
    background-color: var(--white);
}